@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>If you wish to sign up to seminars, please go to <b>Seminars</b> tab and press <b>Register</b> next to the desired seminar. Also, your request will be accepted after professor reviews your request.</p>
</div>
